pandas==2.3.3
numpy==2.3.4
scipy==1.16.3
scikit-learn==1.7.2
tensorflow==2.20.0
xgboost
imbalanced-learn==0.14.0
matplotlib==3.10.7
seaborn==0.13.2
wordcloud
tqdm
spacy
streamlit
plotly
joblib
ipykernel==7.1.0
ipython==9.7.0
jupyter